# Credenciais para testes (não commitar)
OMBALA_TOKEN=sua_chave_aqui
OMBALA_BASE_URL=https://api.useombala.ao/v1
OMBALA_FROM=TESTE

KAMBASMS_TOKEN=sua_chave_aqui
KAMBASMS_BASE_URL=https://api.kambasms.ao/v1

# Número de telefone real para testes
TEST_PHONE_NUMBER=923000000